[Desktop Entry]
Type=Service
Name=Git
Name[ca]=Git
Name[de]=Git
Name[nb]=Git
Name[pt]=Git
Name[pt_BR]=Git
Name[sv]=Git
Name[uk]=Git
Name[x-test]=xxGitxx
Name[zh_TW]=Git
X-KDE-ServiceTypes=FileViewVersionControlPlugin
MimeType=text/plain;
X-KDE-Library=fileviewgitplugin
