[Desktop Entry]
Type=Service
Name=Git
Name[ast]=Git
Name[bg]=Git
Name[bs]=Git
Name[ca]=Git
Name[ca@valencia]=Git
Name[cs]=Git
Name[da]=Git
Name[de]=Git
Name[el]=Git
Name[en_GB]=Git
Name[es]=Git
Name[et]=Git
Name[fi]=Git
Name[fr]=Git
Name[ga]=Git
Name[hu]=Git
Name[it]=Git
Name[kk]=Git
Name[km]=Git​
Name[ko]=Git
Name[lt]=Git
Name[nb]=Git
Name[nds]=Git
Name[nl]=Git
Name[pa]=Git
Name[pl]=Git
Name[pt]=Git
Name[pt_BR]=Git
Name[ru]=Git
Name[sr]=Гит
Name[sr@ijekavian]=Гит
Name[sr@ijekavianlatin]=Git
Name[sr@latin]=Git
Name[sv]=Git
Name[ug]=Git
Name[uk]=Git
Name[x-test]=xxGitxx
Name[zh_CN]=Git
Name[zh_TW]=Git
X-KDE-ServiceTypes=FileViewVersionControlPlugin
MimeType=text/plain;
X-KDE-Library=fileviewgitplugin
