[Desktop Entry]
Type=Service
Name=Bazaar
Name[nds]=Bazaar
Name[pt]=Bazaar
Name[sv]=Bazaar
Name[uk]=Bazaar
Name[x-test]=xxBazaarxx
X-KDE-ServiceTypes=FileViewVersionControlPlugin
MimeType=text/plain;
X-KDE-Library=fileviewbazaarplugin
