[Desktop Entry]
Type=Service
Name=Mercurial
X-KDE-ServiceTypes=FileViewVersionControlPlugin,FileViewVersionControlPlugin2
MimeType=text/plain;
X-KDE-Library=fileviewhgplugin
