[Desktop Entry]
Type=Service
Name=Dropbox
Name[ar]=Dropbox
Name[ast]=Dropbox
Name[bs]=Dropbox
Name[ca]=Dropbox
Name[ca@valencia]=Dropbox
Name[da]=Dropbox
Name[de]=Dropbox
Name[el]=Dropbox
Name[en_GB]=Dropbox
Name[es]=Dropbox
Name[et]=Dropbox
Name[eu]=Dropbox
Name[fi]=Dropbox
Name[fr]=DropBox
Name[gl]=Dropbox
Name[hu]=Dropbox
Name[id]=Dropbox
Name[is]=Dropbox
Name[it]=Dropbox
Name[ko]=Dropbox
Name[lt]=Dropbox
Name[nb]=Dropbox
Name[nl]=Dropbox
Name[nn]=Dropbox
Name[pl]=Dropbox
Name[pt]=Dropbox
Name[pt_BR]=Dropbox
Name[ro]=Dropbox
Name[ru]=Dropbox
Name[sk]=Dropbox
Name[sl]=Dropbox
Name[sr]=Дропбокс
Name[sr@ijekavian]=Дропбокс
Name[sr@ijekavianlatin]=Dropbox
Name[sr@latin]=Dropbox
Name[sv]=Dropbox
Name[tr]=Dropbox
Name[uk]=Dropbox
Name[x-test]=xxDropboxxx
Name[zh_CN]=Dropbox
Name[zh_TW]=Dropbox
X-KDE-ServiceTypes=FileViewVersionControlPlugin
MimeType=text/plain;
X-KDE-Library=fileviewdropboxplugin
