[Desktop Entry]
Type=Service
Name=Subversion
Name[ca]=Subversion
Name[de]=Subversion
Name[nb]=Subversion
Name[nn]=Subversion
Name[pa]=ਸਬ-ਵਰਜਨ
Name[pt]=Subversion
Name[pt_BR]=Subversion
Name[sv]=Subversion
Name[uk]=Subversion
Name[x-test]=xxSubversionxx
X-KDE-ServiceTypes=FileViewVersionControlPlugin
MimeType=text/plain;
X-KDE-Library=fileviewsvnplugin
